<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<add key="SpreadsheetFolderOriginPath" value="C:\Users\mrutt\Documents\GLASpreadsheets"/>
		<add key="SpreadsheetFolderArchivePath" value="C:\Users\mrutt\Documents\GLASpreadsheetArchive"/>
	</appSettings>
</configuration>