<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<add key="SpreadsheetFolderOriginPath" value="C:\Users\mrutt\Documents\GLASpreadsheets"/>
		<add key="SpreadsheetFolderArchivePath" value="C:\Users\mrutt\Documents\GLASpreadsheetArchive"/>
	</appSettings>
  <connectionStrings>
    <add name="GLAEntities" connectionString="metadata=res://*/Models.GLAEntities.csdl|res://*/Models.GLAEntities.ssdl|res://*/Models.GLAEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nwkdbdev.corp.safesecureweb.com;initial catalog=GLA;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CMDBConnectionString" connectionString="Data Source=integprdagl.corp.safesecureweb.com;Initial Catalog=CMDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>